.description {
  padding-top: 40px;
  padding-bottom: 50px;
}
.title-team {
  padding-bottom: 30px;
}
.title-tech {}
.profile {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.bg_grey {
  background-color: #eeeeee;
}
.page-jumb {
  background-color: white;
}
