.angular-google-map-container {
  height: 400px !important;
  margin: 30px;
  -webkit-box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
}
li {
  list-style: none;
}
.descr {
  -webkit-box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 22px -3px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 30px;
  padding: 20px;
  .info {
    background-color: rgba(240, 248, 255, 0.76);
    color: black;
    margin: 20px;
    margin-top: 300px;
  }
}
.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/Loading_icon.gif);
  margin: 0px;
}
.part {
  margin-top: 80px;
}
.col-md-4 > h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.thumb {
  width: 30px;
  margin-left: 12px;
  margin-top: -5px;
}
.info {
  li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
    .name {
      float: left;
    }
    .name-text {
      margin-left: 12%;
    }
    .remove {
      float: right;
    }
  }
  form {
    display: inline;
  }
}
.glyphicon:hover {
  cursor: pointer;
}
.glyphicon-remove {
  top: 3px;
}
.edit {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.new-item {
  margin-left: auto;
  margin-right: auto;
  width: 195px;
  display: flex;
}
tr {
  height: 55px;
}
td {
  padding-top: 16px !important;
}

/*td.thumb-img {
  padding-top: 12px !important;
}*/

.inline {
  display: inline;
}
.add {
  margin: 7px;
}
.table-danger {
  background-color: #f2dede;
}
.table-danger:hover {
  background-color: #f0c3c3 !important;
}
.table-warning {
  background-color: #fcf8e3;
}
.table-success {
  background-color: #dff0d8;
}
.table-left {
  float: left;
  margin-left: 20px;
}
.edit-buttons {
  float: right;
  * {
    margin: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 1200px) {
  .descr {
    margin-top: 200px;
    .info {
      margin-top: 0px;
    }
  }
  .map-cont {
    margin-top: 200px;
  }
  .part {
    margin-top: 500px;
  }
}
.own-pic {
  width: 15px;
  height: 15px;
  z-index: 10000;
  margin-left: -13px;
  top: -9px;
}
.own-pic:hover {
  color: red;
}
.event-link {
  margin-top: 15px;
  width: 100%;
  padding: 10px 7px;
  background-color: #444;
  color: white;
  border: none;
  text-align: center;
}
.add-icon {
  width: 20px;
}

/*====================ANIMATIONS==========================*/

.appear {
  transition: 1s linear opacity;
  -webkit-transition: 1s linear opacity;
}
.appear.ng-enter {
  opacity: 0;
}
.appear.ng-enter.ng-enter-active {
  opacity: 1;
}
.appear.ng-leave {
  opacity: 1;
}
.appear.ng-leave.ng-leave-active {
  opacity: 0;
}

/*====================POPOVER=============================*/

.pop-cont{
  position: absolute;
}

.popo{
  z-index: 100;
  position: relative;
  background-color: rgba(0, 0, 0, 0.51);
  color: white;
  padding: 10px;
  border-radius: 5px;
  
  li{
    margin: 10px;
    margin-left: -30px;
  }
  
  h5{
    text-align: center;
    margin-bottom: 5px;
  }
}
/*
.hover-pop {
  
  .pops {
    background-color: rgba(0,0,0,0.85);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -95px;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;
    
    &:before {
        border-top: 7px solid rgba(0,0,0,0.85);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
      }
  }
  
  &:hover {
      .pops {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
      }
  }
  
  .show-pop{
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
  }
}

@-webkit-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-ms-keyframes fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@-moz-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@-ms-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}*/