.logo {
  padding-top: 12px;
  color: green;
  font-weight: bold;
  font-size: 18px;
}
.navbar {
  z-index: 6;
  height: 76px;
}
.headerAvatar {
  height: 30px;
  width: 30px;
}
.navbar {
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}
nav {
  li {
    margin-top: 11px;
  }
  .log-img {
    margin-top: 1px;
  }
}
.tom {
  padding-top: 24px !important;
}
.dark {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px;
  color: white !important;
}
.white {
  color: white !important;
}
@media (max-width:767px) {
  .navbar-collapse {
    background-color: white;
  }
  .white {
    color: black !important;
  }
}
.sign-head {
  color: black;
  text-align: center;
}
