.in-row {
    list-style-type: none;
}

.angular-google-map-container {
    height: 500px;
}

.searchStyle {
    width: 300px;
    height: 7%;
    margin: 1%;
}

.dark {
    background-color: #ac5adb;
}

.url {
    width: 60%;
}

.newEventImage {
    background-size: cover;
    color: white;
}

.textColor {
    color: #985FE8;
}