// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../styles/color_palette.scss";
.in-row {
  list-style-type: none;
}
.angular-google-map-container {
  height: 500px;
}
.searchStyle {
  width: 300px;
  height: 7%;
  margin: 1%;
}
.url {
  width: 60%;
}
.newEventImage {
  background-size: cover;
  color: white;
}
.customBg {
  background-color: $strips;
}
.textWhite {
  color: white;
}
.textColor {
  color: $base;
}
.btn-create {
  color: #ffffff;
  background-color: $create !important;
  border: $create;
}
.btn-update {
  color: #ffffff;
  background-color: $update !important;
  border: $update;
}
.btn-last {
  margin-bottom: 20px !important;
}
