.eventCard{
	background-color: #EEE;
	/*box-shadow: 0px 0px 1px 1px #DDD;*/
	border-radius: 3px;
	display:block;
	overflow:auto;
	max-height: 320px;

}

.eventCard-top{
	background-size: cover;
	background-size: 100%;
	padding: 10px;
	border-radius: 3px 3px 0 0 ;

}

.eventCard-top-info{
	opacity: 1;
	color: rgba(255,255,255, 1);
}

.eventCard-attendees{
	float: right;
	z-index: 2;
	height: 50px;
	width: 50px;
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	margin-top: -50px;
	line-height: 40px;
	text-align: center;
	padding: 5px;
	border-radius: 50%;

}

.eventCard-middle{
	text-align: center;
	height: 100%;
}

.eventCard-list{
	padding: 0;
	min-height: 66px;
}

.eventCard-item-title{
	background-color: #116CE6;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}

.eventCard-item{

}

.eventCard-bottom{
	border-radius: 0 0 3px 3px ;
	height:40px;
}

.eventCard-btn-event{
	margin:5px auto 5px auto;
    display:block;
}