/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
app/styles/event.scss

app/styles/event.scss

app/views/newevent.html

app/views/newevent.html

app/scripts/controllers/createaccount.js

app/scripts/controllers/editevent.js
