<ng-include src="'views/header.html'"></ng-include>

<div class="jumbotron">



    <h2 class="title-team"> Who we are </h2>
    <div class="container">

        <div class="row">
            <img class="img-circle profile" src="../images/mikko2.jpg">
            <img class="img-circle profile" src="../images/mohit2.jpg">
            <img class="img-circle profile" src="../images/clemi2.jpg">
            <img class="img-circle profile" src="../images/gi.jpg">
        </div>

        <p class="description"> Mikko, Mohit, Clement and Giovanna: HCID students at KTH </p>
        <hr>
    </div>

    <div class="container bg_white">

        <div class="row">
            <h2 class="title-tech"> How we built it ? </h2>
            <p class="descrition"> We used Angular JS as front-end framework. We also used Yeoman for scaffolding and the CSS preprocessor SASS. The back-end is in PhP and the database in MySql. </p>

            <div class="row">
                <h3>Front End</h3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-circle profile" src="../images/angular.png">
                        <p>Angular for frontend framework</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-circle profile" src="../images/scss.png">
                        <p>SCSS for styling</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-circle profile" src="../images/yeoman-logo.png">
                        <p>Yeoman for scaffolding</p>
                    </div>

                </div>

            </div>

            <div class="row ">
                <div class="col-md-8">
                    <h3>Back End</h3>

                    <div class="col-md-6">
                        <img class="img-circle profile" src="../images/lumen.png">
                        <p>Lumen</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle profile" src="../images/PHP_Logo.png">
                        <p>PhP</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Design Collabration</h3>
                    <img class="img-circle profile" src="../images/invision-logo.png">
                    <p>Invision</p>
                </div>
            </div>


        </div>


    </div>



</div>