<ng-include src="'views/header.html'"></ng-include>

<div class="jumbotron">



	<h2 class="title-team"> Who we are </h2>
	<div class="container">
  		<div class="row">
    		<img class="img-circle profile" src="../images/mikko2.jpg">
    		<img class="img-circle profile" src="../images/mohit2.jpg">
    		<img class="img-circle profile" src="../images/clemi2.jpg">
    		<img class="img-circle profile" src="../images/gi.jpg">
  		</div>
  </div>
  <p class="description"> Mikko, Mohit, Clement and Giovanna: HCID students at KTH </p>

	<h2 class="title-tech"> What we built </h2>
		<p class="descrition"> We used Angular JS as front-end framework. We also used Yeoman for scaffolding and the CSS preprocessor SASS. The back-end is in PhP and the database in MySql.  </p>

</div>
