<div class="row">
  <div class="col-md-8">
    <h1>Event name</h1>

    <h3>23.3. 16:00 - 20:00</h3>

    <p>Sweet chocolate sugar plum macaroon tiramisu gingerbread chocolate bar chupa chups. Biscuit chocolate bar gingerbread. Pudding jelly beans gummies lollipop powder. Chocolate cake pudding macaroon brownie lemon drops powder. Wafer sesame snaps ice cream. Powder cotton candy sweet roll. Jelly-o cupcake sesame snaps topping chocolate bar danish tootsie roll biscuit chocolate cake. Croissant gummies bonbon croissant. Carrot cake dragée apple pie. Sesame snaps gummies lemon drops cookie bonbon fruitcake pie toffee.</p>

    <a class="btn" ng-href="#">Edit</a>
    <a class="btn" ng-href="#">Share</a>
  </div>
  <div class="col-md-4" ng-controller="MapCtrl">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Items to bring</h4>
  </div>
  <div class="col-md-4">
    <h4>Tasks to do</h4>
  </div>
  <div class="col-md-4" ng-init="getAttendees()">
    <h4>Attendees</h4>
  </div>
</div>
