<div ng-controller="HeaderCtrl">

    <div ng-show="showLogin">
        <ng-include src="'views/login.html'"></ng-include>
    </div>

    <div ng-show="showSignup">
        <ng-include src="'views/createaccount.html'"></ng-include>
    </div>

    <div class="header">
        <div class="navbar" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse" id="js-navbar-collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <!--   <li class="logo">Watsdplan</li> -->
                        <li ng-hide="{{currentUser.id>0}}" class="hdrtxt" ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
                        <li ng-show="{{currentUser.id>0}}" class="hdrtxt" ng-class="{active:isActive('/')}"><a href="#/overview">My events</a></li>
                        <li class="hdrtxt" ng-class="{active:isActive('/about')}"><a ng-href="#/about">About</a></li>
                    </ul>
                    <ul ng-hide="{{currentUser.id>0}}" class="nav navbar-nav navbar-right">
                        <li ng-click="changeSignup()"><a href="">Sign up</a></li>
                        <li ng-click="changeLogin()"><a href="">Log in</a></li>
                    </ul>

                    <ul ng-show="{{currentUser.id>0}}" class="nav navbar-nav navbar-right">
                        <li ng-click="changeSignup()">

                        <a href=""><img src="{{currentUser.avatar}}" alt="" class="img-circle headerAvatar">  {{currentUser.firstName}}</a>
                        </li>
                        <li ng-click="logOut()"><a href="">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div>