<ng-include src="'views/header.html'"></ng-include>
<link rel="stylesheet" href="styles/video_bg_2.css">


<div class="main" style="background-image: url('video/Snapshots/Night-Out.jpg')">
    <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="../video/WEBM/Night-Out.webm" type="video/webm">
        <source src="../video/MP4/Night-Out.mp4" type="video/mp4"> Video not supported
    </video>
    <!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->

    <div class="cover black" data-color="black"></div>

    <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            Whats'd'Plan
        </h1>
        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <div class="content">
            <h4 class="motto">Whats'd'Plan is something which will blow your mind. A tool so amazing that it will make your life incredibly easy to host and manage your events.</h4>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 ">
                    <button type="submit" class="btn btn-warning btn-fill" ng-click="callChangeSignup()">Let's create an awesome event</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<ng-include src="'views/footer.html'"></ng-include>-->