<ng-include src="'views/header.html'"></ng-include>

<div id="messages" ng-show="message">{{ message }}</div>

<form ng-submit="processForm()" id="eventDetails">

    <div class="row" id="uploadCoverImg">
        <div class="jumbotron" align="center">
            <h4>Upload Event Cover Picture</h4>
            <p>Share the link using image hosting sites like <a href="http://imgur.com/" target="_blank">Imgur.com</a> or <a href="http://postimage.org/" target="_blank">postimage.org. </a>

            </p>
            <input type="url" name="coverPicture" placeholder="Paste your link here.." id="coverPicture" />
            <!-- <button>Upload Image</button> -->
        </div>
    </div>

    <div class="row col-md-12">

        <h4>1. Event Name :</h4>
        <input type="text" name="name" placeholder="Enter Event Name" ng-model="event.name" id="eventName" />
        <br>

        <h4>2. Event Date :</h4>
        <input type="date" name="date" ng-model="event.date" id="eventDate" />
        <br>
        <h4>3. Event Duration :</h4>

        <input type="time" name="time" placeholder="in mins" ng-model="event.time" id="eventTime" />
        <br>




        <h4>4. Event Description :</h4>
        <textarea name="description" rows="4" cols="100" placeholder="Type your text in here...." ng-model="event.description" id="eventDescription">

        </textarea>

        <br>

        <h4>5. Spotify Playlist :</h4>
        <input type="url" name="spotifyPlaylist" placeholder="Paste the link to the spotify playlist" ng-model="event.spotifyPlaylist" id="spotifyPlaylist" />
        <br>

        <h4>6. Event Location :</h4>
        <div id="map_canvas">

            <script type="text/ng-template" id="searchbox.tpl.html">
                <input type="text" placeholder="Search Box">
            </script>

            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="'left-top'"></ui-gmap-search-box>
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        Latitude =
        <input type="decimal" name="locationLat" value="{{lat}}" id="locationLat" />
        <br> Longitude =
        <input type="decimal" name="locationLong" value="{{lngt}}" id="locationLong" />
        <br>

    </div>

    {{event}}



    <div class="jumbotron" align="center">
        <input type="submit" value="Create Event">
    </div>


</form>