<div class="row" ng-init="getEvents()">
	<div class="col-md-10 col-md-offset-1">
		<ul class="nav nav-pills nav-justified">
		  <li><a href="#/overview">Upcoming events</a></li>
		  <li><a href="#/overview">Past events</a></li>
		</ul>

		<div class="row">
			<div ng-repeat="event in events" class="col-md-4">
				<div class="eventCard">
					<div class="eventCard-top" style=" background: linear-gradient( rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.3) ), url('{{event.coverPicture}}') no-repeat center center fixed;">
						<div class="eventCard-top-info">
							<h3>{{event.name}}</h3>
							<p>{{event.date | date:"dd/MM/yyyy"}} at {{event.time | date:'shortTime'}}</p>
							<p>{{event.location}}</p>
							<div class="eventCard-attendees">
								<span class="glyphicon glyphicon glyphicon-user"></span>
								{{event.attendee.length}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
