<ng-include src="'views/header.html'"></ng-include>

<div class="row  overview" ng-init="getEvents()">
	<div class="col-md-10 col-md-offset-1">
		<ul class="nav nav-pills nav-justified" ng-init="upcoming = true">
		  <li ng-class="{'active' : upcoming}"><a href="#/overview" ng-click="upcoming = true">Upcoming events</a></li>
		  <li ng-class="{'active' : !upcoming}"><a href="#/overview" ng-click="upcoming = false">Past events</a></li>
		</ul>

		<div class="row overviewMain">
			<div ng-repeat="event in events | filter:dateRangeFilter('date', upcoming)" class="col-md-4">
				<div class="eventCard">
					<div class="eventCard-admin" ng-show="{{event.isAdmin}}">
						<span class="glyphicon glyphicon glyphicon-king" title="Administrator"></span>
					</div>
					<div class="eventCard-top" style="{{event.bgStyle}}" ng-class="{'is-no-bg':{{event.coverPicture==null}}}">
						<div class="eventCard-top-info">
							<h3>{{event.name}}</h3>
							<div class="checkbox" ng-hide="{{event.isAdmin}}">
								<label>
									<input type="checkbox" ng-change="updateAttendance(event.going, event.id)" ng-model="event.going" ng-true-value="'1'" ng-false-value="'0'"> Attending
								</label>
							</div>
							<p>{{event.date | date:"dd/MM/yyyy"}} at {{event.time | date: "HH:mm"}}</p>
							<p>{{event.location}}</p>
							<div class="eventCard-attendees" ng-click="showAttendees = !showAttendees" ng-init="showAttendees = false">
								<span class="glyphicon glyphicon glyphicon-user"></span>
								{{event.attendee.length}}
								<li class="eventCard-attendees-list"  ng-show="showAttendees">
									<ul class="eventCard-attendee" ng-repeat="attendee in event.attendee">
										<img src="{{attendee.avatar}}" alt="" class="img-circle">
										{{attendee.firstName +" "+ attendee.lastName}}
 									</ul>
								</li>
							</div>
						</div>
					</div>
					<div class="eventCard-middle">
						<div class="col-xs-6 eventCard-list">
							<p class="eventCard-item-title">My items</p>
							<p class="eventCard-item" ng-repeat="stuff in event.stuffs">
								{{stuff.name}}
							</p>
						</div>
						<div class="col-xs-6 eventCard-list">
							<p class="eventCard-item-title">My tasks</p>
							<p class="eventCard-item" ng-repeat="task in event.tasks">
								{{task.name}}
							</p>
						</div>
					</div>
					<div class="eventCard-bottom">
						<div class="col-xs-10 col-xs-offset-1">
							<a type="button" class="eventCard-btn-event btn btn-primary" ng-href="#/event/{{event.linkId}}">Go to Event</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="overview-create">
		<a href="#/newEvent" class="overview-new-event" ng-mouseenter="newEventExtend = true" ng-mouseleave="newEventExtend = false"> 
			<span ng-show="newEventExtend" class="overview-new-event-text">New event </span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
	</div>

</div>

<!-- <div class="footer">
  <div class="container">
    <p>This is the footer</p>
  </div>
</div> -->

