<div ng-controller="UserprofileCtrl" class="container">
  
<div class="darkbackground">

  <div class="fakedialog">
    <button type="button" class="close" data-dismiss="modal" ng-click="changeView(3)">
      <span class="glyphicon glyphicon-remove-sign"></span>
    </button>

    <h3 class="loginTitle"> Edit profile</h3>
    <div class="loginform">
    <img src="{{copyUser.avatar}}" alt="" class="img-circle profileAvatar">
      <modal title="Profile form">
      <form role="form" >
          <p class="errorMsg">{{signInError}}</p>

          <div class="form-group">
            <label for="avatar">Edit avatar</label>
            <input type="text" class="form-control" id="avatar" ng-model="copyUser.avatar"/>
          </div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" ng-model="copyUser.firstName"/>
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" ng-model="copyUser.lastName"/>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" ng-model="copyUser.email"/>
          </div>
          <div class="form-group">
            <label for="password">Change Password</label>
            <input type="password" class="form-control" id="password" ng-model="copyUser.password"/>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmPassword" ng-model="copyUser.password"/>
          </div>

          <button type="submit" class="btn btn-default" ng-click="updateProfile()"><a>Save changes</a></button>
        </form>
      </modal>
    </div>
  </div>
</div>
